.App {
  text-align: center;
  background-color: #9781BE;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #9781BE;
}

.quizButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

.quizButtonContainer div p {
  margin: 20px;
}

.custom-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.progressBar {
  width: 50%;
  margin: 0 auto;
}
