@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.App {
  text-align: center;
  font: 20px "Papyrus", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

body {
  background-image: url("./components/images/Forest_landscape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 100vh;
}

.App-link {
  color: #61dafb;
  justify-content: space-between;
  height: 100vh;
  background-color: #9781be;
}

.quizButtonContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  font: 20px "Papyrus", sans-serif;
  color: #000000;
  font-weight: bold;
  margin-top: 0.2vh;
}

.quizButtonContainer div p {
  margin: 30px;
}

.quizContainer {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 1%;
  border-radius: 20px;
  margin-top: 12vh;
}
.quizContainer h1 {
  margin: 20px;
}
.custom-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.progressBar {
  width: 50%;
  margin: 0 auto;
  color: rgb(106, 147, 128);
}

.Navbar {
  background-color: rgba(33, 60, 62, 0.5);
  margin-left: -10vw;
  overflow: hidden;
}

.questionContainer {
  background-color: rgba(33, 60, 62, 0.5);
  margin: 5%;
  width: 75%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.api_input {
  position: relative;
  bottom: 0;
  left: 25%;
  width: 50%;
}

.me-auto {
  font-size: large;
  font-family: "Papyrus";
}
