@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.App {
  text-align: center;
  background-color: #9781BE;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #9781BE;
}

.quizButtonContainer {
  display: flex;
  justify-content: center;
  font: 20px "Papyrus", sans-serif;
  color: #000000;
  font-weight: bold;
}

.quizButtonContainer div p {
  margin: 20px;
}

.quizContainer{
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1%;
  border-radius: 20px;
}
.quizContainer h1{
  margin: 20px;
}
.custom-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.progressBar {
  width: 50%;
  margin: 0 auto;
}

.Navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; */
  background-color: #7f58c2;
  color: white;
}
